/* add font  */
.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
}

/* header section start */
header {
    max-width: 1600px;
    margin: 0px auto;
    background-color: rgba(255, 144, 14, 0.1);
    padding: 60px;
}

.header-section-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Architects-1 h1 {
    font-size: 40px;
    font-weight: bold;
    color: #9a2424;
}

.Architects-1 h1:hover {
    color: #0fee0f;
}

.Architects-2 ul {
    display: flex;
    gap: 100px;
}

.Architects-2 ul li {
    list-style: none;
}

.Architects-2 ul li a {
    text-decoration: none;
    color: #424242;
    font-size: 25px;
    font-weight: 500;
    line-height: 30%;
}

.Architects-2 ul li a:hover {
    color: #0fee0f;
}

.header-section-2 {
    text-align: center;
    padding: 80px;
}

.header-section-2 h1 {
    font-size: 70px;
    font-weight: bold;
    color: #9a2424;
}

.header-section-2 p {
    font-size: 25px;
    color: #727272;
    line-height: 130%;
    margin-top: -25px;
}

.header-section-2 button {
    color: #ffff;
    background-color: #FF900E;
    border: none;
    border-radius: 10px;
    padding: 20px 30px;
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
}

.header-section-2 button:hover {
    color: #815d03;
    background-color: #fc2feb;
}

.header-section-3 {
    text-align: center;
}

.header-section-3 img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

/* header section end */

/* main section stsrt */
main {
    max-width: 1300px;
    margin: 20px auto;
    background-color: rgb(252, 254, 255);
}

/* our eatures section start  */
.our-eatures-section {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    align-items: center;
    margin: 50px 10px;
    padding: 20px;
}

.our-eatures-section-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.our-eatures-section-1 div {
    width: 300px;
    height: 300px;
}

.our-eatures-section-1 div img {
    width: 100%;
    height: 100%;
    border: 0.5px solid yellowgreen;
    border-radius: 10px;
}

.our-eatures-section-2 h1 .span-1 {
    font-size: 50px;
    font-weight: 300;
    color: #b90505;
}

.our-eatures-section-2 h1 .span-2 {
    font-size: 50px;
    font-weight: 500;
    color: #3a07d0;
}

.our-eatures-section-2 h1 .span-3 {
    font-size: 50px;
    font-weight: 600;
    color: #e645c6;
}

.our-eatures-section-2 p {
    font-size: 18px;
    color: #71666f;
}

.our-eatures-section-2 button {
    color: #ffff;
    background-color: #FF900E;
    border: none;
    border-radius: 10px;
    padding: 20px 30px;
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
}

.our-eatures-section-2 button:hover {
    color: #815d03;
    background-color: #fc2feb;
}

/* our eatures section end  */

/* Features section start */
.Features {
    display: flex;
    gap: 5rem;
    margin: 30px 10px;
    padding: 20px;
    padding-top: 5px;
}

.Features-1 {
    width: 50%;
    padding: 10px;
    padding-top: 0px;
}

.Features-div-1 h1 {
    font-size: 35px;
    font-weight: bold;
    border-left: 10px solid rgb(239, 12, 194);
    padding: 0px 20px;
    border-radius: 5px;
}

.Features-div-1 p {
    font-size: 18px;
    font-weight: 300;
    padding: 0px;
}

.Features-div-2 div {
    background-color: #fffffe;
    padding: 5px 20px;
    margin-top: 8px;
    border-radius: 8px;
    box-shadow: -2px 5px 8px rgb(211, 209, 209);
}

.Features-div-2 div h3 {
    font-size: 20px;
    font-weight: 600;
    color: #040404;
}

.Features-div-2 div p {
    font-size: 15px;
    font-weight: 300;
    color: #3a3939;
    line-height: 150%;
}

.Features-2 {
    width: 50%;
    height: auto;
}

.Features-2 img {
    width: 100%;
    height: 100%;
    border: 0.5px solid yellowgreen;
    border-radius: 10px;
}

.Features-2 button {
    color: #ffff;
    background-color: #FF900E;
    border: none;
    border-radius: 10px;
    padding: 20px 30px;
    font-size: 20px;
    font-weight: 600;
    margin-top: -100px;
    margin-left: -80px;
}

#Year {
    font-size: 50px;
    color: #a7158c;
}

.Features-2 button:hover {
    color: #33eb0e;
    background-color: #fc2feb;
}

/* Features section end */













/* Mobaile screen  start */
@media screen and (max-width: 576px) {

    /* header section start */
    header {
        max-width: 576px;
        margin: 0px auto;
        padding: 1rem;
    }

    .header-section-1 {
        flex-direction: column;
    }

    .Architects-1 h1 {
        font-size: 2rem;
    }

    .Architects-2 ul {
        gap: 1.5rem;
    }

    .Architects-2 ul li a {
        font-size: 1.2rem;
    }

    .header-section-2 {
        padding: 1rem;
    }

    .header-section-2 h1 {
        font-size: 2rem;
    }

    .header-section-2 p {
        font-size: 1rem;
        padding-top: 1rem;
    }

    .header-section-2 button {
        padding: 1rem 2rem;
        font-size: 1rem;
    }

    /* header section end */

    /* main section stsrt */
    main {
        max-width: 500px;
        margin: 1rem auto;
    }

    /* our eatures section start  */
    .our-eatures-section {
        flex-direction: column;
        text-align: center;
    }

    .our-eatures-section-1 div {
        width: 150px;
        height: 150px;
    }

    .our-eatures-section-2 h1 .span-1 {
        font-size: 2rem;
    }

    .our-eatures-section-2 h1 .span-2 {
        font-size: 2rem;

    }

    .our-eatures-section-2 h1 .span-3 {
        font-size: 2rem;
    }

    .our-eatures-section-2 p {
        font-size: 1rem;
    }

    .our-eatures-section-2 button {
        padding: 1rem 2rem;
        font-size: 1rem;
    }

    /* our eatures section end  */



















}

/* Mobaile screen end */






















/* Mudiam screen  */
@media screen and (min-width: 576px) and (max-width: 992px) {

    /* header section start */
    header {
        max-width: 992px;
        margin: 0px auto;
        padding: 1rem;
    }

    .header-section-1 {
        flex-direction: column;
    }

    .Architects-1 h1 {
        font-size: 2rem;
    }

    .Architects-2 ul {
        gap: 1.5rem;
    }

    .Architects-2 ul li a {
        font-size: 1.2rem;
    }

    .header-section-2 {
        padding: 1rem;
    }

    .header-section-2 h1 {
        font-size: 2rem;
    }

    .header-section-2 p {
        font-size: 1rem;
        padding-top: 1rem;
    }

    .header-section-2 button {
        padding: 1rem 2rem;
        font-size: 1rem;
    }

    /* header section end */


    /* main section stsrt */
    main {
        max-width: 900px;
        margin: 1rem auto;
    }

    /* our eatures section start  */
    .our-eatures-section {
        flex-direction: column;
        text-align: center;
    }

    .our-eatures-section-1 div {
        width: 220px;
        height: 220px;
    }

    .our-eatures-section-2 h1 .span-1 {
        font-size: 2.3rem;
    }

    .our-eatures-section-2 h1 .span-2 {
        font-size: 2.3rem;

    }

    .our-eatures-section-2 h1 .span-3 {
        font-size: 2.3rem;
    }

    .our-eatures-section-2 p {
        font-size: 1.5rem;
    }

    .our-eatures-section-2 button {
        padding: 1rem 2rem;
        font-size: 1rem;
    }

    /* our eatures section end  */















}

/* Mudiam screen end */